Semestralka/.vs/Semestralka/v15/Server/sqlite3/db.lock
Semestralka/.vs/Semestralka/v15/Server/sqlite3/storage.ide
Semestralka/.vs/Semestralka/v15/Server/sqlite3/storage.ide-shm
Semestralka/.vs/Semestralka/v15/Server/sqlite3/storage.ide-wal
